<!DOCTYPE html>
<html>
  <title>Wealth Predict-o-Matic 3000</title>
  <body>
    <form action = "/result" method="POST">
      <p>Select Age:<input name="age" type="number" value=28></p>
      <p>Select Education:
      <select name="education">
        <option value="High School">High School</option>
        <option value="Community College">Community College</option>
        <option value="University" selected>University</option>
        <option value="Masters">Masters</option>
        <option value="PhD">PhD</option>
      </select>
      <p>Select Gender:<input name="gender" type="text" value="male"/> </p>
      <p><input type ="submit" value="submit"/></p>
    </form>
  </body>
</html>
