{% extends "base.html" %}
{% block content %}
<form action = "/result" method="POST">

  <div>
    <label for="color">Color</label>
    <input type="color" id="color" name="color" value="#e66465">
  </div>

  <div>
    <label for="diameter">Diameter (cm)</label>
    <input type="range" min="3" max="17" value="10" class="slider" id="diameter" name="diameter">
  </div>

  <div>
    <label for="weight">Weight (g)</label>
    <input type="range" min="85" max="265" value="175" class="slider" id="weight" name="weight">
  </div>

  <div>
    <button type="submit">Go</button>
  </div>

</form>
{% endblock %}
